name: List Philips Software Repos

on:
  workflow_dispatch: 
jobs:
  run-script:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
      - name: Checkout your code
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x get_repos_list.sh

      - name: renaming the .sh
        run: mv /home/runner/work/_temp/0b28f159-35ab-4abf-9c63-63b94d93a8a3.sh get_repos_list.sh
        
    

      - name: Execute Script
        env:
          
           GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        run: ./get_repos_list.sh

      
