name: List Philips Software Repos

on:
  workflow_dispatch: 
jobs:
  run-script:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
      - name: Checkout your code
        uses: actions/checkout@v4
      
      - name: Create a new file
        run: echo "get_repos_list.sh" >> #!/bin/bash
        run: echo "get_repos_list.sh" >> TARGET="philips-software"
        run: echo "get_repos_list.sh" >> echo "Listing all repositories for: $TARGET"
        run: echo "get_repos_list.sh" >> echo "------------------------------------
        run: echo "get_repos_list.sh" >> gh repo list "$TARGET" --limit 200 --json name --jq '.[].name' > repo_list.txt
        run: echo "get_repos_list.sh" >> cat repo_list.txt
        run: echo "get_repos_list.sh" >> echo "-------------------------------------"
        run: mv get_repos_list.sh /home/runner/work/_temp/


      - name: Make script executable
        run: chmod +x get_repos_list.sh

      - name: Execute Script
        env:
          
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./get_repos_list.sh

      
