name: List Philips Software Repos

on:
  workflow_dispatch: 
jobs:
  run-script:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
      - name: Checkout your code
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x test-repo/get_repos_list.sh

      - name: Make script executable
        run: cd test-repo
    

      - name: Execute Script
        env:
          
           GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        run: ./get_repos_list.sh

      
