name: List Philips Software Repos

on:
  workflow_dispatch: 
jobs:
  run-script:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
      - name: Checkout your code
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x listrepo.sh
        
      - name: Execute Script
        env:
          
           GH_TOKEN: ${{ secrets.test }}
        
        run: ./listrepo.sh
